// Utilities
// ----------------------------------------------------------

.u-title {
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.2rem;

  @media screen and (min-width: 768px) {
    letter-spacing: -0.4rem;
  }
}

.u-reset-list {
  list-style: none;
  padding: 0;
}

.u-project-name {
  display: flex;
  flex-direction: column;
}

.u-case-block {
  margin: var(--spaces-xxl) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}