:root {
  --base-font-size: 62.5%;
  --color-gray-light: #ECECEC;
  --color-gray-dark: #8C8C8C;
  --color-white: #FFF;
  --color-black: #000;
  --font-default: 'Arial', sans-serif;

  background: var(--color-white);
  font-family: var(--font-default);
  font-size: var(--base-font-size);
  line-height: 1.4;
}