* {
  box-sizing: border-box;
}

:root {
  -mobile-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:root,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: auto;
  -webkit-text-size-adjust: none;
  font-size: var(--base-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
small {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid {
  --margin: 20px;
  --mw: 100%;

  margin-left: var(--margin);
  margin-right: var(--margin);
  max-width: var(--mw);
}

.fs {
  --min-viewport: 320;
  --max-viewport: 1366;
  --viewport-difference: calc(100vw - (var(--min-viewport) * 0.1rem));
  --font-size-difference: calc(var(--max-font-size) - var(--min-font-size));
  --font-range-difference: calc(var(--max-viewport) - var(--min-viewport));

  --font-scale: calc(
    (var(--min-font-size) * 0.1rem) + var(--font-size-difference) *
      var(--viewport-difference) / var(--font-range-difference)
  );

  font-size: var(--font-scale);
}

.fs--smallest {
  --min-font-size: 12;
  --max-font-size: 14;
}

.fs--small {
  --min-font-size: 18;
  --max-font-size: 24;
}

.fs--medium {
  --min-font-size: 24;
  --max-font-size: 40;
}

.fs--huge {
  --min-font-size: 36;
  --max-font-size: 72;
}

.color {
  --color: var(--color-black);

  color: var(--color);
}

.color--gray-light {
  --color: var(--color-gray-light);
}

.color--gray-light {
  --color: var(--color-gray-light);
}

.color--gray-dark {
  --color: var(--color-gray-dark);
}

.color--white {
  --color: var(--color-white);
}

.color--black {
  --color: var(--color-black);
}